/* mettre le background de mon appli a --color-background */
html, body {
    background-color: var(--color-background);
}

html {
    scroll-behavior: smooth; /* Enables smooth scrolling */
}

body {
    padding-top: 4rem; /* Adjust based on the navbar height */
}